source "amazon-ebs" "debian12" {
  access_key = "{{ access_key }}"
  secret_key =  "{{ secret_key }}"
  region =  "{{ region }}"
  source_ami =  "{{ src_ami }}"
  instance_type =  "{{ instance_type }}"
  ssh_username =  "{{ ssh_username }}"
  ami_name =  "{{ ami_name }}"
  vpc_id = "{{ vpc }}"
  subnet_id = "{{ subnet }}"
  user_data = <<-EOF
  #cloud-config
  system_info:
    default_user:
      name: snet
  EOF
  launch_block_device_mappings {
    device_name           = "/dev/xvda"
    volume_type           = "gp2"
    volume_size           = 10
    delete_on_termination = true
  }
}

build {
  sources = [
    "source.amazon-ebs.debian12"
    ]
  provisioner "ansible" {
    ansible_env_vars = [
      "ANSIBLE_SSH_ARGS='-o PubkeyAcceptedKeyTypes=+ssh-rsa -o HostkeyAlgorithms=+ssh-rsa'"
    ]
    extra_arguments = [ "--scp-extra-args", "'-O'" ]
    playbook_file = "/tmp/roles.yaml"
    user="debian"
  }
}
