source "openstack" "debian12" {
    networks = [
      "{{ network }}"
    ]
    username = "{{ username_open }}"
    flavor = "{{ flavor }}"
    identity_endpoint = "{{ open_stack_server }}"
    image_name = "{{ image }}"
    password = "{{ password_open }}"
    source_image = "{{ source_image }}"
    ssh_username = "{{ ssh_username }}"
    region = "{{ region }}"
    tenant_id = "{{ tenant_id }}"
    domain_name = "Default"
    insecure = "true"
    ssh_ip_version = 4
    user_data = <<-EOF
#cloud-config
system_info:
  default_user:
    name: snet
EOF
}

build {
  sources = [
    "source.openstack.debian12"
    ]
  provisioner "ansible" {
      playbook_file = "/tmp/roles.yaml"
      user = "snet"
      }
}
