source "vsphere-iso" "{{ debian_version }}" {
  ssh_timeout = "{{ packer_ssh_timeout }}"
  CPUs                 = 1
  RAM                  = 1024
  RAM_reserve_all      = true
  boot_command = [
    "<esc><wait>",
    "auto <wait>",
    "netcfg/disable_autoconfig=true ",
    "netcfg/use_autoconfig=false ",
    "netcfg/get_ipaddress={{ Packer_ip }} ",
    "netcfg/get_netmask={{ Packer_netmask }} ",
    "netcfg/get_gateway={{ Packer_gateway }} ",
    "netcfg/get_nameservers={{ Packer_nameserver }} ",
    "netcfg/confirm_static=true <wait>",
    "url=http://{{"{{ .HTTPIP }}"}}:{{"{{ .HTTPPort }}"}}/ <wait>",
    "<enter><wait>"
  ]
  http_content = {
    "/" = file("/tmp/preseed.cfg")
  }
  disk_controller_type = ["pvscsi"]  
  guest_os_type        = "{{ packer_guest_os_type }}"
  host                 = "{{ vmware_esx }}"
  insecure_connection  = true
  datacenter = "{{ vmware_datacenter }}"
  cluster = "{{ vmware_cluster }}"
  datastore = "{{ vmware_datastore }}"
  iso_checksum = "{{ vmware_checksum }}"
  iso_url = "file:/tmp/{{ debian_version }}.iso"
  ip_wait_timeout = "{{ packer_ip_timeout }}"
  network_adapters {
    network = "{{ vmware_network }}"
    network_card = "vmxnet3"
  }
  ssh_password = "{{ image_creation_packer_ssh_userpassword }}"
  ssh_username = "{{ image_creation_packer_ssh_username }}"
  storage {
    disk_size             = {{ packer_storage_disk_size }}
    disk_thin_provisioned = true
  }
  username       = "{{ vmware_username }}"
  password       = "{{ vmware_password }}"
  vcenter_server = "{{ vmware_server }}"
  vm_name        = "{{ vm_name }}"
  convert_to_template = true
}

build {
  sources = ["source.vsphere-iso.{{ debian_version }}"]
  provisioner "ansible" {
    ansible_env_vars = [
      "ANSIBLE_SSH_ARGS='-o PubkeyAcceptedKeyTypes=+ssh-rsa -o HostkeyAlgorithms=+ssh-rsa'"
    ]
    extra_arguments = [ "--scp-extra-args", "'-O'" ]
    playbook_file = "/tmp/roles.yaml"
    user="debian"
  }
  provisioner "shell" {
    inline = [
      "sudo apt-get clean",
      "sudo apt-get autoremove -y",
      "sudo rm -rf /var/log/*",
    ]
  }
}
