{
    "debug" : false,
    "ipv6": false,
    "default-address-pools":
    [
    {"base":"192.168.2.1/24","size":26}
    ],
    "log-driver": "syslog",
    "log-opts": {
        "syslog-address": "udp://{{ syslog_receiver[0] |default('127.0.0.1') }}:514",
        "syslog-format": "rfc5424",
        {% raw %}
        "tag": "{{ .Name }}"
        {% endraw %}
    }
}
